* {
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {
    display: none;
}


html, body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}


body {
    position: relative;
    -webkit-tap-highlight-color: transparent;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    user-select: none;
}


.tx-shadow {
    text-shadow: .5px .5px 1px #000000;
}


.link { /* Hyperlink */
    list-style-type: none;
}
.link a {
    color: inherit;
    text-decoration: none;
    transition: .3s ease;
}
.link a:hover {
    color: #FFC0CB;
    cursor: pointer;
}


/* Sparator between roots and parts */


.burger-button { /* Burger button */
    float: right;
    margin: .8125rem;
}
.navbar { /* Navbar */
    background: tan;
    bottom: 0;
    font-size: 1.1875rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s ease;
    width: 0;
}
.main-menu li {
    margin: .9375rem 1.875rem;
}
.main-menu li::after {
    border-top: 1px solid #FFC0CB;
    content: '';
    display: block;
    transition: .3s ease;
    width: 0;
}
.main-menu li:hover::after {
    width: 100%;
}
.navbar-spacer {
    height: 3.125rem;
}
.navbar-active {
    width: 90%;
}


.share-container { /* Share menu */
    position: absolute;
    transition: .3s ease;
}
.share {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .3s ease;
}
.share ul {
    display: flex;
    justify-content: space-between;
}


.dynamic-content { /* Content box */
    background-color: #8e6ceb;
    bottom: 0;
    height: 0;
    left: 50%;
    opacity: .97;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    transition: .3s ease;
}


.content { /* Content */
    overflow-y: scroll;
    position: absolute;
    background: grey;
    left: 1rem;
    top: 3.125rem;
    right: 1rem;
    bottom: 3rem;
}


.title { /* Title */
    color: #000000;
    font-size: 5rem;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}


footer { /* Footer */
    bottom: 0;
    font-size: .75rem;
    left: 50%;
    padding: .3125rem 0;
    position: absolute;
    transform: translateX(-50%);
    transition: .3s ease;
    white-space: nowrap;
}


.background { /* Background */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/background.jpg");
    height: 100%;
    transition: .3s ease;
}
.bg-dim {
    filter: brightness(.5);
}


/* Breakpoint */


@media (max-width: 425px) { /* Smartphone */
    .share-container { /* Share menu */
        bottom: 0;
        height: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .share {
        max-height: 1rem;
        overflow: hidden;
        top: 0;
    }
    .share p {
        margin: 0 0 .125rem 0;
    }
    .share p:hover {
        cursor: pointer;
    }
    .share ul {
        width: 13.25rem;
    }
    .share-active {
        max-height: 100%;
    }
    
    
    .background {
        background: slateblue;
    }
    .pushed {
        transform: translate(-50%, 100%);
    }
}


@media (min-width: 426px) { /* Tablet */
    .share-container { /* Share menu */
        overflow: hidden;
        right: 0;
        top: 50%;
        transform: translate(100%, -50%);
    }
    .share {
        height: 17.5rem;
    }
    .share p {
        margin: 1.875rem .25rem 1.875rem 0;
        transform: rotateZ(90deg);
    }
    .share ul {
        flex-direction: column;
        height: 100%;
    }
    .share-poped {
        transform: translate(25%, -50%);
    }
    
    
    .background {
        background: teal;
    }
}


@media (min-width: 769px) { /* Laptop */
    .burger-button, .navbar-spacer { /* Navbar */
        display: none;
    }
    .navbar {
        background: none;
        width: auto;
        pointer-events: none;
    }
    .main-menu li {
        pointer-events: all;
    }


    .dynamic-content { /* Content box */
        width: 70%;
    }


    .background {
        background: royalblue;
    }
    .bg-dim {
        filter: brightness(1);
    }
}

@media (min-width: 1025px) { /* Desktop */
    .background {
        background: olive;
    }
}
