html, body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
}

body {
  top: 0;
  margin: 0;
}

/* --------------------------- Hyperlink ---------------------------*/
.link {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link a, .link{
  text-decoration: none;
}

/* --------------------------- Main menu ---------------------------*/
.navbar {
  position: fixed;
  right: 2.5em;
}

.main-menu li {
  margin-top: 1em;
  font-size: 2em;
}

.main-menu a {
  color: #FFFFFF;
  text-shadow: 0 0 1em #000000;
}

/* --------------------------- Main menu >> After ---------------------------*/
.main-menu li::after {
  content: '';
  display: block;
  border-bottom: .0625em solid #E31200;
  transition: .3s ease;
  width: 0;
}

/* --------------------------- Main menu > Hover > After ---------------------------*/
.main-menu li:hover::after {
  width: 100%;
}

/* --------------------------- Share menu ---------------------------*/
.share {
  top: 50%;
  position: fixed;
  right: -.75em;
  transform: translateY(-50%);
}

.share p {
  color: white;
  text-shadow: 0 0 .5em #000000;
  transform: rotate(90deg);
  padding-right: 1em;
}

.social-share li {
  font-size: 1em;
  color: white;
  text-align: center;
  padding-top: 1em;
}

.social-share .fab {
  color: #FFFFFF;
}

/* --------------------------- Share menu > Hover ---------------------------*/
.social-share .fab:hover {
  color: #BDC3C7;
  opacity: .7;
  transition: .3s;
}

/* --------------------------- First container ---------------------------*/
.container-background {
  background-image: url("background.png");
  background-position: center;
  background-size: cover;
  height: 100%;
}

.content p {
  font-size: 5em;
  font-weight: 500;
  position: absolute;
  text-align: center;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --------------------------- Footer ---------------------------*/
footer {
  color: #FFFFFF;
  font-size: .75em;
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

footer p {
  margin: .5em;
}
