.share-pop {
  animation: share-pop 1s .7s forwards;
}

@media only screen and (max-width: 480px) { /*-- Mobile phone --*/
  @keyframes share-pop {
    100% {
      bottom: 1.5em;
    }
  }
}

@media only screen and (min-width: 481px) { /*-- Tablet --*/
  @keyframes share-pop {
    100% {
      right: -.75em;
    }
  }
}

@media only screen and (min-width: 769px) { /*-- Laptop --*/
}

@media only screen and (min-width: 1025px) { /*-- Desktop --*/
}
